body {
    margin: 0;
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
    /* چرا اين الاين آيتمز از بالا و پايين تنظيم نمي كنه؟*/
    justify-content: center;
}

div {
    position: absolute;
}


/*فضا و زمين*/

.space {
    top: 12%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-image: url("https://wallpapercave.com/wp/q7hFvGR.jpg");
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
    /*براي چرخاندن*/
    animation: rotation 150s infinite linear, grow1 3s;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes grow1 {
    from {
        width: 50px;
        height: 50px;
        top: 45%;
    }
    to {
        width: 500px;
        height: 500px;
    }
}

.earth {
    top: 28%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    background-image: url("https://wallpapercave.com/wp/wp3320409.jpg");
    background-size: 338%;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: grow2 2s;
}

@keyframes grow2 {
    from {
        width: 70px;
        height: 70px;
        top: 41%;
    }
    to {
        width: 300px;
        height: 300px;
    }
}

.earth:hover {
    color: rgb(0, 194, 0);
    font-size: 34px;
}


/*شهاب سنگ*/

.meteor {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: rgb(163, 5, 5);
    background-color: #797979;
    background-image: url("https://media4.s-nbcnews.com/j/newscms/2020_43/2840336/190430-bennu-mn-1130_58261e49eb95845ec82c7676ca9b5036.fit-2000w.jpg");
    background-size: 500%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
    right: -20%;
    transition: 1s;
    font-size: 18px;
}

@keyframes move {
    0% {
        top: 10%;
        right: -8%;
    }
    100% {
        top: 30%;
        right: 20%;
    }
}

.meteor:hover {
    width: 75px;
    height: 75px;
    border-radius: 35px 2px 35px 35px;
    top: 50%;
    right: 50%;
    box-shadow: 15px -15px 5px rgb(179, 24, 24);
    font-size: 14px;
}


/*دكمه ها*/

.buttons {
    position: relative;
    display: flex;
    border-radius: 30px 30px 30px 30px;
    color: rgb(235, 235, 235);
    right: 30%;
    top: 100px;
}

.sky,
.oceans,
.animals,
.humans {
    position: relative;
    display: flex;
    border-radius: 30px 30px 30px 30px;
    padding: 5px;
    transition: 0.1s;
    align-items: center;
    justify-content: center;
}

.sky:hover,
.oceans:hover,
.animals:hover,
.humans:hover {
    background-color: #38b000;
    padding: 0 10px;
    border: solid 2px #e8e8e8;
}


/*متن*/

h1 {
    color: rgb(242, 242, 242);
    position: absolute;
    top: 560px;
    right: 20px;
    font-weight: 100;
}

span {
    color: #e4572e;
    transition: 1s;
}


/*لوگو*/

.allLogo {
    position: absolute;
    top: 5%;
    right: 1%;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url("https://wallpapercave.com/wp/wp4077252.jpg");
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: center;
}

p {
    color: white;
    margin: 0;
    position: relative;
    right: 80px;
    top: 11px;
}

@media screen and (max-width: 1000px) {
    .buttons {
        top: 20px;
        right: 25%;
    }
}